In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
df = pd.read_csv('data/Payments to US Entities Working - Entities - Clean 01 With Total SA.csv')

In [3]:
df.head()

,Entity Name,Reporting Company,Payment Type,Start Date,End Date,Federal Government,Tribal Governments,State,Value (USD),Notes,Unnamed: 10
0,State of Alaska,Agnico Eagle Mines Limited,Fees,01-01-2016,12-31-2016,N,NaN,Alaska,75448,Department of Natural Resources,NaN
1,United States Government,Agnico Eagle Mines Limited,Fees,01-01-2016,12-31-2016,Y,NaN,District of Columbia,377244,Bureau of Land Management,NaN
2,Arizona Department of Revenue,Agrium Inc.,Taxes,01-01-2016,12-31-2016,N,NaN,Arizona,347065,State taxes paid - $348K USD translated at an ...,NaN
3,State of California,Agrium Inc.,Taxes,01-01-2016,12-31-2016,N,NaN,California,6224537,State taxes paid - $6.19M USD translated at an...,NaN
4,Colorado Department of Revenue,Agrium Inc.,Taxes,01-01-2016,12-31-2016,N,NaN,Colorado,347065,State taxes paid - $343K USD translated at an ...,NaN

## Make a new column that categorises type of government that payment is made to

In [4]:
df["Government Type"] = "State"
df.loc[df["Tribal Governments"].notnull(),"Government Type"] = "Tribal"
df.loc[df["Federal Government"] == "Y","Government Type"] = "Federal"
df.loc[df["State"].isnull(),"Government Type"] = "Unknown"

## Clean data

In [5]:
df.loc[df["State"].isnull()]

,Entity Name,Reporting Company,Payment Type,Start Date,End Date,Federal Government,Tribal Governments,State,Value (USD),Notes,Unnamed: 10,Government Type
52,Various counties,Baytex Energy Corp.,Taxes,01-01-2016,12-31-2016,N,NaN,NaN,4632565,Exchange rate from USD to CAD used in this rep...,NaN,Unknown
247,County Recorder (Various),Eurasian Minerals Inc.,Fees,01-01-2016,12-31-2016,N,NaN,NaN,10799,County recording fees,NaN,Unknown
248,Secretary of State (Various),Eurasian Minerals Inc.,Fees,01-01-2016,12-31-2016,NaN,NaN,NaN,1084,Filing fees,NaN,Unknown
365,COMMISSIONER OF THE GENERAL LAND,ROYAL DUTCH SHELL PLC,Fees,01-01-2016,12-31-2016,NaN,NaN,NaN,203100,NaN,There is a commissioner of the general land in...,Unknown
366,"DIRECTOR, DIVISION OF OIL AND GAS",ROYAL DUTCH SHELL PLC,Fees,01-01-2016,12-31-2016,NaN,NaN,NaN,243408,NaN,"Again, most states have a division of oil and gas",Unknown
380,State Emergency Response Commission,Rye Patch Gold Corp.,Fees,01-01-2016,12-31-2016,N,NaN,NaN,3772,USD payments translated at 2016 annual average...,NaN,Unknown

In [6]:
# Drop empty rows at the end

df = df.drop(df.index[442:445])

In [7]:
# Fix typos in state names

df["State"].unique()

array(['Alaska', 'District of Columbia', 'Arizona', 'California',
       'Colorado', 'Hawaii', 'Idaho', 'Illinois', 'Kansas',
       'Massachusetts', 'Michigan', 'Minnesota', 'Missouri', 'Montana',
       'Nebraska', 'New York', 'North Dakota', 'Oregon', 'Texas', 'Nevada',
       'South Dakota', nan, 'Oklahoma', 'Arkansas', 'Delaware', 'Florida',
       'Indiana', 'Lousiana', 'New Jersey', 'New Mexico', 'Washington',
       'Wyoming', 'Utah', 'Louisiana', 'Mississippi', 'Pennsylvania',
       'South Carolina', 'North Carolina',
       'New York, Pennsylvania, Maryland',
       'Nevada or District of Columbia?', 'Wisconsin', 'Ohio'], dtype=object)

In [8]:
df = df.replace({"State": {'Lousiana': 'Louisiana'}})
df["State"].unique()

array(['Alaska', 'District of Columbia', 'Arizona', 'California',
       'Colorado', 'Hawaii', 'Idaho', 'Illinois', 'Kansas',
       'Massachusetts', 'Michigan', 'Minnesota', 'Missouri', 'Montana',
       'Nebraska', 'New York', 'North Dakota', 'Oregon', 'Texas', 'Nevada',
       'South Dakota', nan, 'Oklahoma', 'Arkansas', 'Delaware', 'Florida',
       'Indiana', 'Louisiana', 'New Jersey', 'New Mexico', 'Washington',
       'Wyoming', 'Utah', 'Mississippi', 'Pennsylvania', 'South Carolina',
       'North Carolina', 'New York, Pennsylvania, Maryland',
       'Nevada or District of Columbia?', 'Wisconsin', 'Ohio'], dtype=object)

## Prepare dataset for sunburst

In [9]:
sunburst_df = df.loc[:,['State','Reporting Company','Payment Type','Entity Name','Value (USD)']]

In [10]:
sunburst_df = sunburst_df.sort_values(by=['State','Reporting Company','Payment Type','Entity Name','Value (USD)'])

In [11]:
sunburst_df.head()

,State,Reporting Company,Payment Type,Entity Name,Value (USD)
0,Alaska,Agnico Eagle Mines Limited,Fees,State of Alaska,75448
59,Alaska,BP P.L.C.,Fees,State of Alaska,300282
60,Alaska,BP P.L.C.,Royalties,State of Alaska,37261461
62,Alaska,BP P.L.C.,Royalties,State of Alaska,174089734
61,Alaska,BP P.L.C.,Taxes,State of Alaska,69428844

In [12]:
sunburst_df[sunburst_df['Value (USD)'] <= 0]

,State,Reporting Company,Payment Type,Entity Name,Value (USD)
74,District of Columbia,BP P.L.C.,Taxes,Federal Government,-285385056
345,District of Columbia,ROYAL DUTCH SHELL PLC,Taxes,INTERNAL REVENUE SERVICE,-274196905
340,District of Columbia,Rio Tinto PLC,Taxes,USA FEDERAL,-14091691
348,Louisiana,ROYAL DUTCH SHELL PLC,Taxes,LOUISIANA DEPARTMENT OF,-1000000
349,Louisiana,ROYAL DUTCH SHELL PLC,Taxes,LOUISIANA STATE REVENUE TAX DEPT,-2308388
350,New Jersey,ROYAL DUTCH SHELL PLC,Taxes,STATE OF NEW JERSEY,-345383

In [13]:
sunburst_df.to_csv("sunburst_data.csv", sep=',', index = False)

In [14]:
unique_things = sunburst_df["Payment Type"].unique().tolist() + \
    sunburst_df["Reporting Company"].unique().tolist() + \
    sunburst_df["Entity Name"].unique().tolist()
    
unique_things_df = pd.DataFrame(unique_things, columns=['thing'])
unique_things_df['number'] = unique_things_df.index
unique_things_df = unique_things_df.drop_duplicates(['thing'], keep='first')
unique_things_df = unique_things_df.set_index('thing')

unique_things_df.to_json().replace("\\","")

'{"number":{"Fees":0,"Royalties":1,"Taxes":2,"Production entitlements":3,"Bonuses":4,"Payments for infrastructure improvements":5,"Agnico Eagle Mines Limited":6,"BP P.L.C.":7,"Coeur Mining, Inc.":8,"Freegold Ventures Limited":9,"GoldMining Inc.":10,"Kinross Gold Corporation":11,"LeadFX Inc.":12,"Northern Dynasty Minerals Ltd.":13,"Teck Resources Limited":14,"Agrium Inc.":15,"Capstone Mining Corp.":16,"Energy Fuels Inc":17,"EntrAu00a9e Gold Inc.":18,"Eurasian Minerals Inc.":19,"Excelsior Mining Corp":20,"KGHM International":21,"Rio Tinto PLC":22,"Taseko Mines Limited":23,"Barrick Gold Corporation":24,"Golden Queen Mining Co. Ltd.":25,"New Gold Inc.":26,"Encana Corporation":27,"Enirgi Group Corporation":28,"Rye Patch Gold Corp.":29,"Americas Silver Corporation":30,"Anglo American plc":31,"Arizona Mining Inc.":32,"Azarga Uranium Corp.":33,"Baytex Energy Corp.":34,"CNOOC Limited":35,"Cameco Corporation":36,"Coral Gold Resources Ltd.":37,"Crescent Point Energy Corp.":38,"Enerplus Corporation":39,"Franco-Nevada Corporation":40,"Goldcorp Inc.":41,"Graymont Limited":42,"Hudbay Minerals Inc.":43,"Imperial Metals Corporation":44,"Klondex Mines Ltd.":45,"Liberty Gold Corp. (formerly Pilot Gold Inc.)":46,"McEwen Mining Inc.":47,"Midas Gold Corp":48,"NewCastleGold Ltd":49,"Potash Corporation of Saskatchewan Inc.":50,"Premier Gold Mines Limited":51,"Quaterra Resources Inc.":52,"ROYAL DUTCH SHELL PLC":53,"Scorpio Gold Corporation":54,"Silver Standard Resources Inc.":55,"Ur-Energy Inc.":56,"Uranium One Inc.":57,"Vermilion Energy Inc.":58,"West Kirkland Mining Inc.":59,"Votorantim Cement North America Inc.":60,"Gold Standard Ventures Corp.":61,"TriMetals Mining Inc.":62,"IC Potash Corp.":63,"PetroShale Inc.":64,"Prairie Provident Resources Inc.":65,"Total SA":66,"BNK Petroleum Inc.":67,"OceanaGold Corporation":68,"Eagle Energy Inc.":69,"TransAlta Corporation":70,"Source Energy Services US LP":71,"State of Alaska":72,"City of Juneau, Alaska":73,"State of Alaska- Mental Health":74,"Fairbanks North Star Borough":75,"Alaska Department of Naturaln Resources":76,"Alaska Department of Natural Resources":77,"State of Alaksa":78,"District of Northwest Artic Borough":79,"Arizona Department of Revenue":80,"GOVERNMENT OF ARIZONA":81,"Arizona Department of Environmental Quality":82,"Arizona Department of Transportation":83,"Arizona Corporation Commission":84,"Arizona State Land Dept":85,"Cochise County":86,"State of Arizona- Bureau of Land Management":87,"Gila County Treasurer":88,"State of Arizona-Department of Revenue":89,"ARIZONA STATE":90,"Government of Arizona":91,"Pinal County, Arizona":92,"State of Arkansas":93,"State of California":94,"California State Controller\'S Office":95,"Kern County Treasurer and Tax Collector":96,"Imperial County - Cal":97,"CALIFORNIA GOVERNMENT":98,"KERN COUNTY (CALIFORNIA)":99,"Colorado Department of Revenue":100,"Southern Ute Indian Tribe":101,"State of Colorado":102,"Boulder County":103,"City of Broomfield":104,"Town of Firestone":105,"Garfield County":106,"Mesa County":107,"Rio Blanco County":108,"Weld County":109,"Douglas County Treasurer":110,"Delaware Division Of Revenue":111,"State of Delaware":112,"United States Government":113,"US Forest Service (in trust)":114,"Office of Natural Resource Revenue":115,"Internal Revenue Service":116,"Mine Safety & Health":117,"Pension Benefit Guaranty Corporation":118,"U.S. Department of Interior":119,"Bureau of Land Management":120,"US Department of the Interior Bureau of Land Management":121,"U.S. Governement - Bureau of Land Management":122,"U.S. Governement - Nuclear Regulatory Commission":123,"Office of Natural Resources Revenue":124,"Office of Natural Resources Revenue - BIA":125,"Federal Government":126,"Government of the United States of America":127,"US Environmental Protection Agency":128,"Bureau of Ocean Energy Management (BOEM)":129,"Bureau of Safety and Environmental Enforcement":130,"Minerals Management Service":131,"US Coast Guard":132,"US Department of Commerce-NOAA":133,"US Department of the Interior":134,"Government of the United States":135,"FEDERAL GOVERNMENT OF USA":136,"U.S. Government":137,"FEDERAL GOVERNMENT OF THE USA":138,"U.S. Federal Government":139,"United States Bureau of Land Management":140,"United States Department of Labor":141,"United States Nuclear Regulatory Commission":142,"Office of Naturaln Resources Revenuen ("ONRR")":143,"United States Federal Government":144,"Federal Bureau Landn Management":145,"US Federal Government - U.S. Department of the Interior: Bureau of Land Management":146,"US Federal Government - Internal Revenue Service":147,"National Government of United States of America":148,"Bureau of Land (BLM)":149,"Federal Government of USA- Mine Safety and Health Administration":150,"Federal Government of USA-Bureau of Land Management":151,"US Federal Government":152,"Federal Government of the United States":153,"Federal Government of the United States of America":154,"US Department of the Interiorn Bureau of Land Management":155,"US Government -n Bureau of Land Management":156,"OFFICE OF NATURAL RESOURCES REVENUE":157,"INTERNAL REVENUE SERVICE":158,"USA FEDERAL":159,"Department of Treasury - US":160,"Department of Treasury":161,"Government of United States":162,"US Nuclear Regulatory Commission":163,"U.S. Nuclear Regulatory Commission":164,"U.S. Department of the Interior Bureau of Land Management":165,"Florida Department of Financial Services":166,"Hamilton County FL":167,"State of Florida":168,"Lee County":169,"Suwannee County":170,"Hawaii State Tax Controller":171,"Idaho Department of Environmental Quality":172,"Idaho Department of Lands":173,"Caribou County":174,"Idaho State Tax Commission":175,"Shoshone County Tax Collector":176,"Valley County":177,"Illinois Department of Revenue":178,"State of Illinois":179,"Cook County":180,"Kane County":181,"Kankakee County":182,"State of Indiana":183,"Kansas Department of Revenue":184,"Kansas Holder Services":185,"State of Louisiana":186,"St Helena Parish":187,"LOUISIANA DEPARTMENT OF":188,"LOUISIANA STATE REVENUE TAX DEPT":189,"Commonwealth of Massachusetts":190,"State of Michigan - Michigan Department of Treasury":191,"State of Michigan":192,"Township of Charlevoix":193,"Minnesota Department of Revenue":194,"State of Minnesota":195,"State of Mississippi":196,"Missouri Director of Revenue":197,"Montana Department of Revenue":198,"Montana State Department of Revenue":199,"Jefferson County":200,"State of Montana":201,"Richland County, Montana":202,"Broadwater County, Montana":203,"Montana Department of Revenue, Montana":204,"Nebraska Department of Revenue":205,"Government of Nebraska":206,"Dawes County":207,"Eureka County":208,"Lander County":209,"State of Nevada":210,"Elko County":211,"Humboldt County":212,"Pershing County, Nevada":213,"Bureau of Land Management (Nevada)":214,"Douglas County, Nevada":215,"Lyon County, Nevada":216,"Lander County Treasurer":217,"Elko County Recorder":218,"Nevada Bureau of Land Management":219,"Nevada Division of Environment Protection":220,"Nevada Division of Minerals":221,"Elko County Treasurer, Nevada":222,"Nevada Tax Commission, Nevada":223,"NYE County":224,"State of Nevada- Division of Environmental Protection":225,"State of Nevada- Division of Water Resources":226,"White Pine County Treasurer":227,"White Pine County":228,"Nye County":229,"NV State Dept. of Taxation":230,"Eureka County, Nevada":231,"Nevada Department of Wildlife":232,"Nevada Division of water resources":233,"Nevada LP Gas Board":234,"Nevada State Treasurer":235,"Esmeralda County Assessor":236,"Nevada Department ofn taxation":237,"Humboldt County, Nevada":238,"Bureau of Land Management - Nevada":239,"Department of Labour - Nevada":240,"New Jersey State Treasury":241,"STATE OF NEW JERSEY":242,"State of New Mexico":243,"Bureau of Land Management (New Mexico)":244,"New Mexico State Land Office -n Commissioner of Public Lands":245,"New York State Corporation Tax":246,"Department of Environmental Conservatism, New York":247,"City of Plattsburgh, New York":248,"State of New York":249,"NYC DEPARTMENT OF FINANCE":250,"SUSQUEHANNA RIVER BASIN COMMISSION":251,"State of North Carolina":252,"Beaufort County NC":253,"North Dakota State Tax Commission":254,"STATE OF NORTH DAKOTA":255,"Fort Berthold Indian Reservation":256,"State of North Dakota":257,"Fort Berthold Agency":258,"Carroll County":259,"Columbiana County":260,"Harrison County":261,"State of Ohio":262,"OKLAHOMA CORPORATION COMMISSION":263,"JOHNSTON COUNTY OKLAHOMA CLERK":264,"JOHNSTON COUNTY OKLAHOMA COMMISSIONER":265,"OKLAHOMA DEPT OF ENVIROMENTAL QUALITY":266,"OKLAHOMA FRANCHISE TAX BOARD":267,"OKLAHOMA TAX COMMISSION":268,"State of Oklahoma":269,"Oregon Department of Revenue":270,"State of Oregon":271,"State College, Pennsylvania":272,"BOROUGH OF WELLSBORO":273,"COMMONWEALTH OF PENNSYLVANIA":274,"COMMONWEALTH OF PENNSYLVANIA - DCNR":275,"PA DEPARTMENT OF TRANSPORTATION":276,"THE BOROUGH OF ELKLAND":277,"PENNSYLVANIA DEPARTMENT OF REVENUE":278,"State of South Carolina":279,"Lancaster County Treasurer":280,"Lawrence County":281,"State of South Dakota":282,"Lawrence County, South Dakota":283,"Lawrence County - South Dakota":284,"State Comptroller- Texas":285,"State of Texas":286,"Texas Railroad Commission":287,"Atascosa County":288,"University of Houston Systems":289,"Texas State Tax Commission":290,"Caldwell County Appraisal District":291,"Hardeman County":292,"Andrews County":293,"Crane County":294,"Dawson County":295,"Glasscock County":296,"Howard County":297,"Karnes County":298,"Martin County":299,"Midland County":300,"Railroad Commission of Texas":301,"Texas Commission on Environmental Quality":302,"Texas Department of State Health Services":303,"THE UNIVERSITY OF TEXAS SYSTEM":304,"UNIVERSITY LANDS":305,"STATE OF TEXAS":306,"Arlington Independant School District":307,"Birdville Independent School District":308,"City of Arlington":309,"City of Grand Prairie":310,"Dallas/Fort Worth International Airport Board":311,"Fort Worth Independant School District":312,"Kennedale Independant School District":313,"Tarrant County AAAA":314,"Tarrant County College":315,"Tarrant Regional Water District":316,"City of Fort Worth":317,"Johnson County Tax Assessor":318,"Tarrant County Tax Assessor":319,"Texas State Comptrolleru2019s Office":320,"STATE OF UTAH":321,"UTE INDIAN TRIBE":322,"DUSCHESNE COUNTY":323,"UINTAH COUNTY":324,"Utah Division of Oil, Gas and Mining":325,"Utah Division of Radiation Control":326,"Utah Trust Lands Administration":327,"San Juan County, Utah":328,"Trust Lands Administration, Utah":329,"Millard County Treasurer, Utah":330,"Utah State Tax Commission, Utah":331,"SALT LAKE COUNTY (UTAH)":332,"UTAH GOVERNMENT":333,"State of Utah":334,"Washington Department of Revenue":335,"State of Washington":336,"Ferry County":337,"Okanogan County":338,"City of Pend Oreille":339,"Washington State":340,"Barron County, Wisconsin":341,"Rusk County, Wisconsin":342,"State of Wyoming":343,"Government of Wyoming":344,"Campbell County":345,"Converse County":346,"Fremont County":347,"Natrona County":348,"Shoshone and Arapaho Tribes":349,"Sublette County":350,"Wyoming Office of State Lands":351,"Johnson County, Wyoming":352,"Wyoming Department of Revenue":353,"STATE OF WYOMING":354,"Carbon County Wyoming":355,"Fremont County Wyoming":356,"Sweetwater County, Wyoming":357,"Wyoming Office of State Lands & Investments":358,"Campbell County Treasurer":359,"Johnson County Treasurer":360,"Various counties":361,"County Recorder (Various)":362,"Secretary of State (Various)":363,"COMMISSIONER OF THE GENERAL LAND":364,"DIRECTOR, DIVISION OF OIL AND GAS":365,"State Emergency Response Commission":366}}'

## Remove negative payments for Sankey

In [15]:
df = df[df["Value (USD)"] >= 0]

## Prepare Source-Target-Value dataframe

In [16]:
links = pd.DataFrame(columns=['source','target','value'])

In [17]:
to_append = df.groupby(['Government Type'],as_index=False)['Value (USD)'].sum()
to_append["source"] = "Total"
to_append.rename(columns = {'Government Type':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2372805274

  source   target         value
0  Total  Federal  1.326789e+09
1  Total    State  9.719232e+08
2  Total   Tribal  6.899835e+07
3  Total  Unknown  5.094728e+06

In [18]:
to_append = df.groupby(['Government Type','Payment Type'],as_index=False)['Value (USD)'].sum()
to_append.rename(columns = {'Government Type':'source','Payment Type':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2372805274

     source                                    target         value
0     Total                                   Federal  1.326789e+09
1     Total                                     State  9.719232e+08
2     Total                                    Tribal  6.899835e+07
3     Total                                   Unknown  5.094728e+06
2   Federal                                 Royalties  7.944091e+08
8     State                                     Taxes  5.990397e+08
3   Federal                                     Taxes  4.096844e+08
7     State                                 Royalties  2.823842e+08
1   Federal                                      Fees  9.466987e+07
5     State                                      Fees  8.414347e+07
11   Tribal                   Production entitlements  3.195508e+07
0   Federal                                   Bonuses  2.802562e+07
12   Tribal                                 Royalties  2.210378e+07
13   Tribal                                     Taxes  7.431555e+06
4     State                                   Bonuses  6.265747e+06
10   Tribal                                      Fees  5.229382e+06
15  Unknown                                     Taxes  4.632565e+06
9    Tribal                                   Bonuses  2.278557e+06
14  Unknown                                      Fees  4.621630e+05
6     State  Payments for infrastructure improvements  9.000000e+04

In [19]:
to_append = df.groupby(['Payment Type','Reporting Company'],as_index=False)['Value (USD)'].sum()
to_append.rename(columns = {'Payment Type':'source','Reporting Company':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2372805274

,source,target,value
0,Total,Federal,1.326789e+09
1,Total,State,9.719232e+08
2,Total,Tribal,6.899835e+07
3,Total,Unknown,5.094728e+06
2,Federal,Royalties,7.944091e+08
8,State,Taxes,5.990397e+08
3,Federal,Taxes,4.096844e+08
7,State,Royalties,2.823842e+08
1,Federal,Fees,9.466987e+07
5,State,Fees,8.414347e+07
11,Tribal,Production entitlements,3.195508e+07
0,Federal,Bonuses,2.802562e+07
12,Tribal,Royalties,2.210378e+07
13,Tribal,Taxes,7.431555e+06
4,State,Bonuses,6.265747e+06
10,Tribal,Fees,5.229382e+06
15,Unknown,Taxes,4.632565e+06
9,Tribal,Bonuses,2.278557e+06
14,Unknown,Fees,4.621630e+05
6,State,Payments for infrastructure improvements,9.000000e+04
69,Royalties,BP P.L.C.,6.026200e+08
81,Royalties,ROYAL DUTCH SHELL PLC,3.747777e+08
99,Taxes,Encana Corporation,1.916800e+08
91,Taxes,Barrick Gold Corporation,1.913385e+08
87,Taxes,Agrium Inc.,1.715860e+08
90,Taxes,BP P.L.C.,1.177172e+08
124,Taxes,Teck Resources Limited,1.100046e+08
52,Fees,ROYAL DUTCH SHELL PLC,5.859035e+07
53,Fees,Rio Tinto PLC,5.273256e+07
76,Royalties,Enerplus Corporation,4.453751e+07
...,...,...,...
45,Fees,NewCastleGold Ltd,2.338910e+05
51,Fees,Quaterra Resources Inc.,2.160310e+05
33,Fees,Goldcorp Inc.,2.126600e+05
60,Fees,TriMetals Mining Inc.,2.000000e+05
48,Fees,PetroShale Inc.,1.886220e+05
9,Fees,Anglo American plc,1.811570e+05
32,Fees,GoldMining Inc.,1.810770e+05
89,Taxes,BNK Petroleum Inc.,1.765560e+05
109,Taxes,Hudbay Minerals Inc.,1.600000e+05
29,Fees,Franco-Nevada Corporation,1.508970e+05
59,Fees,TransAlta Corporation,1.295710e+05
40,Fees,LeadFX Inc.,1.282630e+05
110,Taxes,Imperial Metals Corporation,1.207180e+05
35,Fees,Graymont Limited,1.207180e+05
55,Fees,Scorpio Gold Corporation,1.143720e+05
36,Fees,Imperial Metals Corporation,1.131730e+05
65,Fees,West Kirkland Mining Inc.,1.058170e+05
20,Fees,Coral Gold Resources Ltd.,1.056280e+05
57,Fees,Taseko Mines Limited,9.808300e+04
123,Taxes,Taseko Mines Limited,9.808300e+04
28,Fees,Excelsior Mining Corp,9.808300e+04
3,Bonuses,Enerplus Corporation,9.053800e+04
66,Payments for infrastructure improvements,Midas Gold Corp,9.000000e+04
30,Fees,Freegold Ventures Limited,8.867400e+04
126,Taxes,TransAlta Corporation,4.002600e+04
0,Bonuses,BNK Petroleum Inc.,1.103100e+04
106,Taxes,Freegold Ventures Limited,7.737000e+03
104,Taxes,Eurasian Minerals Inc.,4.209000e+03
12,Fees,BNK Petroleum Inc.,3.824000e+03
103,Taxes,EntrAe Gold Inc.,3.500000e+02

In [20]:
unique_list = pd.concat([links['source'], links['target']]).unique()
replace_dict = {k: v for v, k in enumerate(unique_list)}

In [21]:
links_replaced = links.replace({"source": replace_dict,"target": replace_dict})

In [22]:
links_replaced

     source  target         value
0         0       1  1.326789e+09
1         0       2  9.719232e+08
2         0       3  6.899835e+07
3         0       4  5.094728e+06
2         1       5  7.944091e+08
8         2       6  5.990397e+08
3         1       6  4.096844e+08
7         2       5  2.823842e+08
1         1       7  9.466987e+07
5         2       7  8.414347e+07
11        3       8  3.195508e+07
0         1       9  2.802562e+07
12        3       5  2.210378e+07
13        3       6  7.431555e+06
4         2       9  6.265747e+06
10        3       7  5.229382e+06
15        4       6  4.632565e+06
9         3       9  2.278557e+06
14        4       7  4.621630e+05
6         2      10  9.000000e+04
69        5      11  6.026200e+08
81        5      12  3.747777e+08
99        6      13  1.916800e+08
91        6      14  1.913385e+08
87        6      15  1.715860e+08
90        6      11  1.177172e+08
124       6      16  1.100046e+08
52        7      12  5.859035e+07
53        7      17  5.273256e+07
76        5      18  4.453751e+07
..      ...     ...           ...
45        7      62  2.338910e+05
51        7      63  2.160310e+05
33        7      27  2.126600e+05
60        7      64  2.000000e+05
48        7      30  1.886220e+05
9         7      65  1.811570e+05
32        7      66  1.810770e+05
89        6      67  1.765560e+05
109       6      68  1.600000e+05
29        7      69  1.508970e+05
59        7      70  1.295710e+05
40        7      71  1.282630e+05
110       6      72  1.207180e+05
35        7      23  1.207180e+05
55        7      43  1.143720e+05
36        7      72  1.131730e+05
65        7      73  1.058170e+05
20        7      74  1.056280e+05
57        7      75  9.808300e+04
123       6      75  9.808300e+04
28        7      53  9.808300e+04
3         9      18  9.053800e+04
66       10      52  9.000000e+04
30        7      76  8.867400e+04
126       6      70  4.002600e+04
0         9      67  1.103100e+04
106       6      76  7.737000e+03
104       6      50  4.209000e+03
12        7      67  3.824000e+03
103       6      57  3.500000e+02

[150 rows x 3 columns]

In [23]:
nodes = pd.DataFrame(unique_list)
nodes.rename(columns = {0:'name'}, inplace = True)

In [24]:
nodes_json= pd.DataFrame(nodes).to_json(orient='records')
nodes_json

'[{"name":"Total"},{"name":"Federal"},{"name":"State"},{"name":"Tribal"},{"name":"Unknown"},{"name":"Royalties"},{"name":"Taxes"},{"name":"Fees"},{"name":"Production entitlements"},{"name":"Bonuses"},{"name":"Payments for infrastructure improvements"},{"name":"BP P.L.C."},{"name":"ROYAL DUTCH SHELL PLC"},{"name":"Encana Corporation"},{"name":"Barrick Gold Corporation"},{"name":"Agrium Inc."},{"name":"Teck Resources Limited"},{"name":"Rio Tinto PLC"},{"name":"Enerplus Corporation"},{"name":"Kinross Gold Corporation"},{"name":"CNOOC Limited"},{"name":"Potash Corporation of Saskatchewan Inc."},{"name":"Silver Standard Resources Inc."},{"name":"Graymont Limited"},{"name":"Coeur Mining, Inc."},{"name":"Baytex Energy Corp."},{"name":"Total SA"},{"name":"Goldcorp Inc."},{"name":"Crescent Point Energy Corp."},{"name":"Capstone Mining Corp."},{"name":"PetroShale Inc."},{"name":"Energy Fuels Inc"},{"name":"Vermilion Energy Inc."},{"name":"Cameco Corporation"},{"name":"Votorantim Cement North America Inc."},{"name":"Klondex Mines Ltd."},{"name":"Enirgi Group Corporation"},{"name":"Ur-Energy Inc."},{"name":"New Gold Inc."},{"name":"Uranium One Inc."},{"name":"KGHM International"},{"name":"Eagle Energy Inc."},{"name":"Northern Dynasty Minerals Ltd."},{"name":"Scorpio Gold Corporation"},{"name":"McEwen Mining Inc."},{"name":"Golden Queen Mining Co. Ltd."},{"name":"Americas Silver Corporation"},{"name":"Source Energy Services US LP"},{"name":"OceanaGold Corporation"},{"name":"Agnico Eagle Mines Limited"},{"name":"Eurasian Minerals Inc."},{"name":"Liberty Gold Corp. (formerly Pilot Gold Inc.)"},{"name":"Midas Gold Corp"},{"name":"Excelsior Mining Corp"},{"name":"Rye Patch Gold Corp."},{"name":"Premier Gold Mines Limited"},{"name":"Prairie Provident Resources Inc."},{"name":"EntrA\\u00a9e Gold Inc."},{"name":"IC Potash Corp."},{"name":"Azarga Uranium Corp."},{"name":"Gold Standard Ventures Corp."},{"name":"Arizona Mining Inc."},{"name":"NewCastleGold Ltd"},{"name":"Quaterra Resources Inc."},{"name":"TriMetals Mining Inc."},{"name":"Anglo American plc"},{"name":"GoldMining Inc."},{"name":"BNK Petroleum Inc."},{"name":"Hudbay Minerals Inc."},{"name":"Franco-Nevada Corporation"},{"name":"TransAlta Corporation"},{"name":"LeadFX Inc."},{"name":"Imperial Metals Corporation"},{"name":"West Kirkland Mining Inc."},{"name":"Coral Gold Resources Ltd."},{"name":"Taseko Mines Limited"},{"name":"Freegold Ventures Limited"}]'

In [25]:
links_json= pd.DataFrame(links_replaced).to_json(orient='records')
links_json

'[{"source":0,"target":1,"value":1326789026.0},{"source":0,"target":2,"value":971923173.0},{"source":0,"target":3,"value":68998347.0},{"source":0,"target":4,"value":5094728.0},{"source":1,"target":5,"value":794409147.0},{"source":2,"target":6,"value":599039721.0},{"source":1,"target":6,"value":409684392.0},{"source":2,"target":5,"value":282384235.0},{"source":1,"target":7,"value":94669871.0},{"source":2,"target":7,"value":84143470.0},{"source":3,"target":8,"value":31955077.0},{"source":1,"target":9,"value":28025616.0},{"source":3,"target":5,"value":22103776.0},{"source":3,"target":6,"value":7431555.0},{"source":2,"target":9,"value":6265747.0},{"source":3,"target":7,"value":5229382.0},{"source":4,"target":6,"value":4632565.0},{"source":3,"target":9,"value":2278557.0},{"source":4,"target":7,"value":462163.0},{"source":2,"target":10,"value":90000.0},{"source":5,"target":11,"value":602620019.0},{"source":5,"target":12,"value":374777662.0},{"source":6,"target":13,"value":191680000.0},{"source":6,"target":14,"value":191338513.0},{"source":6,"target":15,"value":171585974.0},{"source":6,"target":11,"value":117717154.0},{"source":6,"target":16,"value":110004555.0},{"source":7,"target":12,"value":58590352.0},{"source":7,"target":17,"value":52732558.0},{"source":5,"target":18,"value":44537509.0},{"source":6,"target":19,"value":36800000.0},{"source":8,"target":11,"value":31955077.0},{"source":5,"target":13,"value":31880000.0},{"source":9,"target":11,"value":28025616.0},{"source":6,"target":18,"value":25946890.0},{"source":6,"target":20,"value":25073553.0},{"source":6,"target":12,"value":23771872.0},{"source":6,"target":21,"value":20180000.0},{"source":6,"target":22,"value":14727632.0},{"source":6,"target":23,"value":12871585.0},{"source":6,"target":24,"value":12530000.0},{"source":7,"target":11,"value":11695137.0},{"source":5,"target":25,"value":11166443.0},{"source":7,"target":15,"value":10057343.0},{"source":6,"target":26,"value":8936000.0},{"source":6,"target":27,"value":8599388.0},{"source":5,"target":28,"value":8050400.0},{"source":6,"target":28,"value":7967406.0},{"source":6,"target":29,"value":6365626.0},{"source":5,"target":17,"value":6345321.0},{"source":6,"target":25,"value":6254716.0},{"source":9,"target":30,"value":5658670.0},{"source":7,"target":18,"value":5100346.0},{"source":7,"target":31,"value":4662728.0},{"source":7,"target":13,"value":4650000.0},{"source":7,"target":32,"value":4534481.0},{"source":6,"target":17,"value":4500000.0},{"source":5,"target":20,"value":4476659.0},{"source":7,"target":14,"value":4127055.0},{"source":6,"target":31,"value":3923342.0},{"source":5,"target":26,"value":3634000.0},{"source":7,"target":19,"value":3470000.0},{"source":6,"target":33,"value":3466878.0},{"source":5,"target":15,"value":3282028.0},{"source":7,"target":33,"value":2832351.0},{"source":6,"target":34,"value":2780000.0},{"source":9,"target":28,"value":2527539.0},{"source":6,"target":35,"value":2331371.0},{"source":5,"target":36,"value":2120115.0},{"source":6,"target":37,"value":2069768.0},{"source":6,"target":38,"value":2009000.0},{"source":7,"target":39,"value":1939036.0},{"source":7,"target":20,"value":1805277.0},{"source":6,"target":40,"value":1580000.0},{"source":5,"target":22,"value":1441074.0},{"source":7,"target":16,"value":1403349.0},{"source":5,"target":41,"value":1229817.0},{"source":7,"target":28,"value":1222271.0},{"source":7,"target":42,"value":1056583.0},{"source":7,"target":37,"value":1003133.0},{"source":6,"target":43,"value":944438.0},{"source":5,"target":32,"value":890296.0},{"source":5,"target":33,"value":850308.0},{"source":7,"target":40,"value":840000.0},{"source":7,"target":24,"value":760000.0},{"source":6,"target":39,"value":739399.0},{"source":7,"target":44,"value":730000.0},{"source":6,"target":41,"value":694128.0},{"source":7,"target":35,"value":679040.0},{"source":7,"target":45,"value":672170.0},{"source":7,"target":22,"value":633769.0},{"source":6,"target":46,"value":630917.0},{"source":6,"target":47,"value":558322.0},{"source":5,"target":16,"value":543232.0},{"source":6,"target":48,"value":530000.0},{"source":7,"target":38,"value":528000.0},{"source":7,"target":48,"value":510000.0},{"source":7,"target":49,"value":452692.0},{"source":7,"target":50,"value":421897.0},{"source":7,"target":51,"value":420000.0},{"source":7,"target":46,"value":402259.0},{"source":7,"target":52,"value":400000.0},{"source":6,"target":53,"value":399879.0},{"source":6,"target":54,"value":385543.0},{"source":5,"target":23,"value":377244.0},{"source":7,"target":55,"value":373380.0},{"source":5,"target":56,"value":369699.0},{"source":7,"target":54,"value":368184.0},{"source":7,"target":21,"value":360000.0},{"source":7,"target":34,"value":330000.0},{"source":7,"target":29,"value":320657.0},{"source":7,"target":57,"value":319411.0},{"source":7,"target":25,"value":316884.0},{"source":5,"target":58,"value":305332.0},{"source":7,"target":41,"value":301795.0},{"source":7,"target":59,"value":290593.0},{"source":6,"target":36,"value":286705.0},{"source":7,"target":60,"value":271614.0},{"source":9,"target":47,"value":256526.0},{"source":7,"target":61,"value":250000.0},{"source":7,"target":62,"value":233891.0},{"source":7,"target":63,"value":216031.0},{"source":7,"target":27,"value":212660.0},{"source":7,"target":64,"value":200000.0},{"source":7,"target":30,"value":188622.0},{"source":7,"target":65,"value":181157.0},{"source":7,"target":66,"value":181077.0},{"source":6,"target":67,"value":176556.0},{"source":6,"target":68,"value":160000.0},{"source":7,"target":69,"value":150897.0},{"source":7,"target":70,"value":129571.0},{"source":7,"target":71,"value":128263.0},{"source":6,"target":72,"value":120718.0},{"source":7,"target":23,"value":120718.0},{"source":7,"target":43,"value":114372.0},{"source":7,"target":72,"value":113173.0},{"source":7,"target":73,"value":105817.0},{"source":7,"target":74,"value":105628.0},{"source":7,"target":75,"value":98083.0},{"source":6,"target":75,"value":98083.0},{"source":7,"target":53,"value":98083.0},{"source":9,"target":18,"value":90538.0},{"source":10,"target":52,"value":90000.0},{"source":7,"target":76,"value":88674.0},{"source":6,"target":70,"value":40026.0},{"source":9,"target":67,"value":11031.0},{"source":6,"target":76,"value":7737.0},{"source":6,"target":50,"value":4209.0},{"source":7,"target":67,"value":3824.0},{"source":6,"target":57,"value":350.0}]'

In [26]:
data = { 'links' : json.loads(links_json), 'nodes' : json.loads(nodes_json) }
data_json = json.dumps(data)
data_json = data_json.replace("\\","")
#print(data_json)
#with open('sankey_data.json', 'w') as outfile:
#    json.dump(data_json, outfile)

text_file = open("sankey_data.json", "w")
text_file.write(data_json)
text_file.close()