In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('data/Payments to US Entities Working - Entities - Clean.csv')

In [3]:
df.head()

,Entity Name,Reporting Company,Payment Type,Start Date,End Date,Federal Government,Tribal Governments,State,Value (USD),Notes,Unnamed: 10
0,State of Alaska,Agnico Eagle Mines Limited,Fees,01-01-2016,12-31-2016,N,NaN,Alaska,75448.0,Department of Natural Resources,NaN
1,United States Government,Agnico Eagle Mines Limited,Fees,01-01-2016,12-31-2016,Y,NaN,District of Columbia,377244.0,Bureau of Land Management,NaN
2,Arizona Department of Revenue,Agrium Inc.,Taxes,01-01-2016,12-31-2016,N,NaN,Arizona,347065.0,State taxes paid - $348K USD translated at an ...,NaN
3,State of California,Agrium Inc.,Taxes,01-01-2016,12-31-2016,N,NaN,California,6224537.0,State taxes paid - $6.19M USD translated at an...,NaN
4,Colorado Department of Revenue,Agrium Inc.,Taxes,01-01-2016,12-31-2016,N,NaN,Colorado,347065.0,State taxes paid - $343K USD translated at an ...,NaN

In [4]:
df["Government Type"] = "State"
df.loc[df["Tribal Governments"].notnull(),"Government Type"] = "Tribal"
df.loc[df["Federal Government"] == "Y","Government Type"] = "Federal"
df.loc[df["State"].isnull(),"Government Type"] = "Unknown"

In [5]:
df.loc[df["State"].isnull()]

,Entity Name,Reporting Company,Payment Type,Start Date,End Date,Federal Government,Tribal Governments,State,Value (USD),Notes,Unnamed: 10,Government Type
52,Various counties,Baytex Energy Corp.,Taxes,01-01-2016,12-31-2016,N,NaN,NaN,4632565.0,Exchange rate from USD to CAD used in this rep...,NaN,Unknown
247,County Recorder (Various),Eurasian Minerals Inc.,Fees,01-01-2016,12-31-2016,N,NaN,NaN,10799.0,County recording fees,NaN,Unknown
248,Secretary of State (Various),Eurasian Minerals Inc.,Fees,01-01-2016,12-31-2016,NaN,NaN,NaN,1084.0,Filing fees,NaN,Unknown
365,COMMISSIONER OF THE GENERAL LAND,ROYAL DUTCH SHELL PLC,Fees,01-01-2016,12-31-2016,NaN,NaN,NaN,203100.0,NaN,There is a commissioner of the general land in...,Unknown
366,"DIRECTOR, DIVISION OF OIL AND GAS",ROYAL DUTCH SHELL PLC,Fees,01-01-2016,12-31-2016,NaN,NaN,NaN,243408.0,NaN,"Again, most states have a division of oil and gas",Unknown
380,State Emergency Response Commission,Rye Patch Gold Corp.,Fees,01-01-2016,12-31-2016,N,NaN,NaN,3772.0,USD payments translated at 2016 annual average...,NaN,Unknown
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
444,Note: Removed any company w/ fiscal year endin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

In [6]:
df = df.drop(df.index[442:445])

In [7]:
df = df[df["Value (USD)"] >= 0]

## Prepare Source-Target-Value dataframe

In [8]:
links = pd.DataFrame(columns=['source','target','value'])

In [9]:
to_append = df.groupby(['Government Type'],as_index=False)['Value (USD)'].sum()
to_append["source"] = "Total"
to_append.rename(columns = {'Government Type':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2360235274.0

  source   target         value
0  Total  Federal  1.326789e+09
1  Total    State  9.593532e+08
2  Total   Tribal  6.899835e+07
3  Total  Unknown  5.094728e+06

In [10]:
to_append = df.groupby(['Government Type','Payment Type'],as_index=False)['Value (USD)'].sum()
to_append.rename(columns = {'Government Type':'source','Payment Type':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2360235274.0

     source                                    target         value
0     Total                                   Federal  1.326789e+09
1     Total                                     State  9.593532e+08
2     Total                                    Tribal  6.899835e+07
3     Total                                   Unknown  5.094728e+06
2   Federal                                 Royalties  7.944091e+08
8     State                                     Taxes  5.901037e+08
3   Federal                                     Taxes  4.096844e+08
7     State                                 Royalties  2.787502e+08
1   Federal                                      Fees  9.466987e+07
5     State                                      Fees  8.414347e+07
11   Tribal                   Production entitlements  3.195508e+07
0   Federal                                   Bonuses  2.802562e+07
12   Tribal                                 Royalties  2.210378e+07
13   Tribal                                     Taxes  7.431555e+06
4     State                                   Bonuses  6.265747e+06
10   Tribal                                      Fees  5.229382e+06
15  Unknown                                     Taxes  4.632565e+06
9    Tribal                                   Bonuses  2.278557e+06
14  Unknown                                      Fees  4.621630e+05
6     State  Payments for infrastructure improvements  9.000000e+04

In [11]:
to_append = df.groupby(['Payment Type','Reporting Company'],as_index=False)['Value (USD)'].sum()
to_append.rename(columns = {'Payment Type':'source','Reporting Company':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2360235274.0

,source,target,value
0,Total,Federal,1.326789e+09
1,Total,State,9.593532e+08
2,Total,Tribal,6.899835e+07
3,Total,Unknown,5.094728e+06
2,Federal,Royalties,7.944091e+08
8,State,Taxes,5.901037e+08
3,Federal,Taxes,4.096844e+08
7,State,Royalties,2.787502e+08
1,Federal,Fees,9.466987e+07
5,State,Fees,8.414347e+07
11,Tribal,Production entitlements,3.195508e+07
0,Federal,Bonuses,2.802562e+07
12,Tribal,Royalties,2.210378e+07
13,Tribal,Taxes,7.431555e+06
4,State,Bonuses,6.265747e+06
10,Tribal,Fees,5.229382e+06
15,Unknown,Taxes,4.632565e+06
9,Tribal,Bonuses,2.278557e+06
14,Unknown,Fees,4.621630e+05
6,State,Payments for infrastructure improvements,9.000000e+04
69,Royalties,BP P.L.C.,6.026200e+08
81,Royalties,ROYAL DUTCH SHELL PLC,3.747777e+08
98,Taxes,Encana Corporation,1.916800e+08
90,Taxes,Barrick Gold Corporation,1.913385e+08
86,Taxes,Agrium Inc.,1.715860e+08
89,Taxes,BP P.L.C.,1.177172e+08
123,Taxes,Teck Resources Limited,1.100046e+08
52,Fees,ROYAL DUTCH SHELL PLC,5.859035e+07
53,Fees,Rio Tinto PLC,5.273256e+07
76,Royalties,Enerplus Corporation,4.453751e+07
...,...,...,...
45,Fees,NewCastleGold Ltd,2.338910e+05
51,Fees,Quaterra Resources Inc.,2.160310e+05
33,Fees,Goldcorp Inc.,2.126600e+05
60,Fees,TriMetals Mining Inc.,2.000000e+05
48,Fees,PetroShale Inc.,1.886220e+05
9,Fees,Anglo American plc,1.811570e+05
32,Fees,GoldMining Inc.,1.810770e+05
88,Taxes,BNK Petroleum Inc.,1.765560e+05
108,Taxes,Hudbay Minerals Inc.,1.600000e+05
29,Fees,Franco-Nevada Corporation,1.508970e+05
59,Fees,TransAlta Corporation,1.295710e+05
40,Fees,LeadFX Inc.,1.282630e+05
109,Taxes,Imperial Metals Corporation,1.207180e+05
35,Fees,Graymont Limited,1.207180e+05
55,Fees,Scorpio Gold Corporation,1.143720e+05
36,Fees,Imperial Metals Corporation,1.131730e+05
65,Fees,West Kirkland Mining Inc.,1.058170e+05
20,Fees,Coral Gold Resources Ltd.,1.056280e+05
28,Fees,Excelsior Mining Corp,9.808300e+04
57,Fees,Taseko Mines Limited,9.808300e+04
122,Taxes,Taseko Mines Limited,9.808300e+04
3,Bonuses,Enerplus Corporation,9.053800e+04
66,Payments for infrastructure improvements,Midas Gold Corp,9.000000e+04
30,Fees,Freegold Ventures Limited,8.867400e+04
124,Taxes,TransAlta Corporation,4.002600e+04
0,Bonuses,BNK Petroleum Inc.,1.103100e+04
105,Taxes,Freegold Ventures Limited,7.737000e+03
103,Taxes,Eurasian Minerals Inc.,4.209000e+03
12,Fees,BNK Petroleum Inc.,3.824000e+03
102,Taxes,EntrA©e Gold Inc.,3.500000e+02

In [12]:
unique_list = pd.concat([links['source'], links['target']]).unique()
replace_dict = {k: v for v, k in enumerate(unique_list)}

In [13]:
links_replaced = links.replace({"source": replace_dict,"target": replace_dict})

In [14]:
links_replaced

     source  target         value
0         0       1  1.326789e+09
1         0       2  9.593532e+08
2         0       3  6.899835e+07
3         0       4  5.094728e+06
2         1       5  7.944091e+08
8         2       6  5.901037e+08
3         1       6  4.096844e+08
7         2       5  2.787502e+08
1         1       7  9.466987e+07
5         2       7  8.414347e+07
11        3       8  3.195508e+07
0         1       9  2.802562e+07
12        3       5  2.210378e+07
13        3       6  7.431555e+06
4         2       9  6.265747e+06
10        3       7  5.229382e+06
15        4       6  4.632565e+06
9         3       9  2.278557e+06
14        4       7  4.621630e+05
6         2      10  9.000000e+04
69        5      11  6.026200e+08
81        5      12  3.747777e+08
98        6      13  1.916800e+08
90        6      14  1.913385e+08
86        6      15  1.715860e+08
89        6      11  1.177172e+08
123       6      16  1.100046e+08
52        7      12  5.859035e+07
53        7      17  5.273256e+07
76        5      18  4.453751e+07
..      ...     ...           ...
45        7      61  2.338910e+05
51        7      62  2.160310e+05
33        7      26  2.126600e+05
60        7      63  2.000000e+05
48        7      29  1.886220e+05
9         7      64  1.811570e+05
32        7      65  1.810770e+05
88        6      66  1.765560e+05
108       6      67  1.600000e+05
29        7      68  1.508970e+05
59        7      69  1.295710e+05
40        7      70  1.282630e+05
109       6      71  1.207180e+05
35        7      23  1.207180e+05
55        7      42  1.143720e+05
36        7      71  1.131730e+05
65        7      72  1.058170e+05
20        7      73  1.056280e+05
28        7      52  9.808300e+04
57        7      74  9.808300e+04
122       6      74  9.808300e+04
3         9      18  9.053800e+04
66       10      51  9.000000e+04
30        7      75  8.867400e+04
124       6      69  4.002600e+04
0         9      66  1.103100e+04
105       6      75  7.737000e+03
103       6      49  4.209000e+03
12        7      66  3.824000e+03
102       6      56  3.500000e+02

[148 rows x 3 columns]

In [15]:
nodes = pd.DataFrame(unique_list)
nodes.rename(columns = {0:'name'}, inplace = True)

In [16]:
nodes_json= pd.DataFrame(nodes).to_json(orient='records')
nodes_json

'[{"name":"Total"},{"name":"Federal"},{"name":"State"},{"name":"Tribal"},{"name":"Unknown"},{"name":"Royalties"},{"name":"Taxes"},{"name":"Fees"},{"name":"Production entitlements"},{"name":"Bonuses"},{"name":"Payments for infrastructure improvements"},{"name":"BP P.L.C."},{"name":"ROYAL DUTCH SHELL PLC"},{"name":"Encana Corporation"},{"name":"Barrick Gold Corporation"},{"name":"Agrium Inc."},{"name":"Teck Resources Limited"},{"name":"Rio Tinto PLC"},{"name":"Enerplus Corporation"},{"name":"Kinross Gold Corporation"},{"name":"CNOOC Limited"},{"name":"Potash Corporation of Saskatchewan Inc."},{"name":"Silver Standard Resources Inc."},{"name":"Graymont Limited"},{"name":"Coeur Mining, Inc."},{"name":"Baytex Energy Corp."},{"name":"Goldcorp Inc."},{"name":"Crescent Point Energy Corp."},{"name":"Capstone Mining Corp."},{"name":"PetroShale Inc."},{"name":"Energy Fuels Inc"},{"name":"Vermilion Energy Inc."},{"name":"Cameco Corporation"},{"name":"Votorantim Cement North America Inc."},{"name":"Klondex Mines Ltd."},{"name":"Enirgi Group Corporation"},{"name":"Ur-Energy Inc."},{"name":"New Gold Inc."},{"name":"Uranium One Inc."},{"name":"KGHM International"},{"name":"Eagle Energy Inc."},{"name":"Northern Dynasty Minerals Ltd."},{"name":"Scorpio Gold Corporation"},{"name":"McEwen Mining Inc."},{"name":"Golden Queen Mining Co. Ltd."},{"name":"Americas Silver Corporation"},{"name":"Source Energy Services US LP"},{"name":"OceanaGold Corporation"},{"name":"Agnico Eagle Mines Limited"},{"name":"Eurasian Minerals Inc."},{"name":"Liberty Gold Corp. (formerly Pilot Gold Inc.)"},{"name":"Midas Gold Corp"},{"name":"Excelsior Mining Corp"},{"name":"Rye Patch Gold Corp."},{"name":"Premier Gold Mines Limited"},{"name":"Prairie Provident Resources Inc."},{"name":"EntrA\\u00a9e Gold Inc."},{"name":"IC Potash Corp."},{"name":"Azarga Uranium Corp."},{"name":"Gold Standard Ventures Corp."},{"name":"Arizona Mining Inc."},{"name":"NewCastleGold Ltd"},{"name":"Quaterra Resources Inc."},{"name":"TriMetals Mining Inc."},{"name":"Anglo American plc"},{"name":"GoldMining Inc."},{"name":"BNK Petroleum Inc."},{"name":"Hudbay Minerals Inc."},{"name":"Franco-Nevada Corporation"},{"name":"TransAlta Corporation"},{"name":"LeadFX Inc."},{"name":"Imperial Metals Corporation"},{"name":"West Kirkland Mining Inc."},{"name":"Coral Gold Resources Ltd."},{"name":"Taseko Mines Limited"},{"name":"Freegold Ventures Limited"}]'

In [17]:
links_json= pd.DataFrame(links_replaced).to_json(orient='records')
links_json

'[{"source":0,"target":1,"value":1326789026.0},{"source":0,"target":2,"value":959353173.0},{"source":0,"target":3,"value":68998347.0},{"source":0,"target":4,"value":5094728.0},{"source":1,"target":5,"value":794409147.0},{"source":2,"target":6,"value":590103721.0},{"source":1,"target":6,"value":409684392.0},{"source":2,"target":5,"value":278750235.0},{"source":1,"target":7,"value":94669871.0},{"source":2,"target":7,"value":84143470.0},{"source":3,"target":8,"value":31955077.0},{"source":1,"target":9,"value":28025616.0},{"source":3,"target":5,"value":22103776.0},{"source":3,"target":6,"value":7431555.0},{"source":2,"target":9,"value":6265747.0},{"source":3,"target":7,"value":5229382.0},{"source":4,"target":6,"value":4632565.0},{"source":3,"target":9,"value":2278557.0},{"source":4,"target":7,"value":462163.0},{"source":2,"target":10,"value":90000.0},{"source":5,"target":11,"value":602620019.0},{"source":5,"target":12,"value":374777662.0},{"source":6,"target":13,"value":191680000.0},{"source":6,"target":14,"value":191338513.0},{"source":6,"target":15,"value":171585974.0},{"source":6,"target":11,"value":117717154.0},{"source":6,"target":16,"value":110004555.0},{"source":7,"target":12,"value":58590352.0},{"source":7,"target":17,"value":52732558.0},{"source":5,"target":18,"value":44537509.0},{"source":6,"target":19,"value":36800000.0},{"source":8,"target":11,"value":31955077.0},{"source":5,"target":13,"value":31880000.0},{"source":9,"target":11,"value":28025616.0},{"source":6,"target":18,"value":25946890.0},{"source":6,"target":20,"value":25073553.0},{"source":6,"target":12,"value":23771872.0},{"source":6,"target":21,"value":20180000.0},{"source":6,"target":22,"value":14727632.0},{"source":6,"target":23,"value":12871585.0},{"source":6,"target":24,"value":12530000.0},{"source":7,"target":11,"value":11695137.0},{"source":5,"target":25,"value":11166443.0},{"source":7,"target":15,"value":10057343.0},{"source":6,"target":26,"value":8599388.0},{"source":5,"target":27,"value":8050400.0},{"source":6,"target":27,"value":7967406.0},{"source":6,"target":28,"value":6365626.0},{"source":5,"target":17,"value":6345321.0},{"source":6,"target":25,"value":6254716.0},{"source":9,"target":29,"value":5658670.0},{"source":7,"target":18,"value":5100346.0},{"source":7,"target":30,"value":4662728.0},{"source":7,"target":13,"value":4650000.0},{"source":7,"target":31,"value":4534481.0},{"source":6,"target":17,"value":4500000.0},{"source":5,"target":20,"value":4476659.0},{"source":7,"target":14,"value":4127055.0},{"source":6,"target":30,"value":3923342.0},{"source":7,"target":19,"value":3470000.0},{"source":6,"target":32,"value":3466878.0},{"source":5,"target":15,"value":3282028.0},{"source":7,"target":32,"value":2832351.0},{"source":6,"target":33,"value":2780000.0},{"source":9,"target":27,"value":2527539.0},{"source":6,"target":34,"value":2331371.0},{"source":5,"target":35,"value":2120115.0},{"source":6,"target":36,"value":2069768.0},{"source":6,"target":37,"value":2009000.0},{"source":7,"target":38,"value":1939036.0},{"source":7,"target":20,"value":1805277.0},{"source":6,"target":39,"value":1580000.0},{"source":5,"target":22,"value":1441074.0},{"source":7,"target":16,"value":1403349.0},{"source":5,"target":40,"value":1229817.0},{"source":7,"target":27,"value":1222271.0},{"source":7,"target":41,"value":1056583.0},{"source":7,"target":36,"value":1003133.0},{"source":6,"target":42,"value":944438.0},{"source":5,"target":31,"value":890296.0},{"source":5,"target":32,"value":850308.0},{"source":7,"target":39,"value":840000.0},{"source":7,"target":24,"value":760000.0},{"source":6,"target":38,"value":739399.0},{"source":7,"target":43,"value":730000.0},{"source":6,"target":40,"value":694128.0},{"source":7,"target":34,"value":679040.0},{"source":7,"target":44,"value":672170.0},{"source":7,"target":22,"value":633769.0},{"source":6,"target":45,"value":630917.0},{"source":6,"target":46,"value":558322.0},{"source":5,"target":16,"value":543232.0},{"source":6,"target":47,"value":530000.0},{"source":7,"target":37,"value":528000.0},{"source":7,"target":47,"value":510000.0},{"source":7,"target":48,"value":452692.0},{"source":7,"target":49,"value":421897.0},{"source":7,"target":50,"value":420000.0},{"source":7,"target":45,"value":402259.0},{"source":7,"target":51,"value":400000.0},{"source":6,"target":52,"value":399879.0},{"source":6,"target":53,"value":385543.0},{"source":5,"target":23,"value":377244.0},{"source":7,"target":54,"value":373380.0},{"source":5,"target":55,"value":369699.0},{"source":7,"target":53,"value":368184.0},{"source":7,"target":21,"value":360000.0},{"source":7,"target":33,"value":330000.0},{"source":7,"target":28,"value":320657.0},{"source":7,"target":56,"value":319411.0},{"source":7,"target":25,"value":316884.0},{"source":5,"target":57,"value":305332.0},{"source":7,"target":40,"value":301795.0},{"source":7,"target":58,"value":290593.0},{"source":6,"target":35,"value":286705.0},{"source":7,"target":59,"value":271614.0},{"source":9,"target":46,"value":256526.0},{"source":7,"target":60,"value":250000.0},{"source":7,"target":61,"value":233891.0},{"source":7,"target":62,"value":216031.0},{"source":7,"target":26,"value":212660.0},{"source":7,"target":63,"value":200000.0},{"source":7,"target":29,"value":188622.0},{"source":7,"target":64,"value":181157.0},{"source":7,"target":65,"value":181077.0},{"source":6,"target":66,"value":176556.0},{"source":6,"target":67,"value":160000.0},{"source":7,"target":68,"value":150897.0},{"source":7,"target":69,"value":129571.0},{"source":7,"target":70,"value":128263.0},{"source":6,"target":71,"value":120718.0},{"source":7,"target":23,"value":120718.0},{"source":7,"target":42,"value":114372.0},{"source":7,"target":71,"value":113173.0},{"source":7,"target":72,"value":105817.0},{"source":7,"target":73,"value":105628.0},{"source":7,"target":52,"value":98083.0},{"source":7,"target":74,"value":98083.0},{"source":6,"target":74,"value":98083.0},{"source":9,"target":18,"value":90538.0},{"source":10,"target":51,"value":90000.0},{"source":7,"target":75,"value":88674.0},{"source":6,"target":69,"value":40026.0},{"source":9,"target":66,"value":11031.0},{"source":6,"target":75,"value":7737.0},{"source":6,"target":49,"value":4209.0},{"source":7,"target":66,"value":3824.0},{"source":6,"target":56,"value":350.0}]'

In [18]:
data = { 'links' : json.loads(links_json), 'nodes' : json.loads(nodes_json) }
data_json = json.dumps(data)
data_json = data_json.replace("\\","")
#print(data_json)
#with open('sankey_data.json', 'w') as outfile:
#    json.dump(data_json, outfile)

text_file = open("sankey_data.json", "w")
text_file.write(data_json)
text_file.close()